$color1: #313e59; 
$color2: #034001; 
$color3: #267302; 
$color4: #a6806a; 

$color-blue: $color1;
$color-darkGreen: $color2;
$color-green: $color3;
$color-brown: $color4;

$font-base: 10px;
$grid-base: $font-base;

$bp-md: 768px;
$bp-md2: 880px;
$bp-md3:1156px;
$bp-lg: 1240px;


