.site-footer{
    position: relative;
    height: 35vh;

    &__h2 {
        position: absolute;
        padding-top: 3rem;
    }

    &__address{
        text-align: center;
        padding-top: 8rem;
        font-size: 1.8rem;
    }

    &__copyright{
        text-align: center;
        font-size: 1.2rem;
    }
}